.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FC5000;
  padding-top:62px;
}
.section {
  background-size:cover;
  height:622px;
}
.center-box {
  background-image:url('/static/project/partnership_ver2_180719-02.png');
  background-size:cover;
}
.box-917 {
  -webkit-transition:background-color 0.1s;
  border-radius:2px;
  height:58px;
  left:590px;
  top:518px;
  transition:background-color 0.1s;
  width:342px;
}
.box-917.iux-hover, .box-917.iux-active {
  background-color:rgba(255,255,255,0.20);
}
.section-900 {
  background-size:cover;
  height:1584px;
}
.center-box-901 {
  background-image:url('/static/project/partnership_ver2_180719-03.png');
  background-size:cover;
}
.carousel {
  height:540px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  overflow:visible;
  right:0px;
  top:950px;
  width:800px;
}
.carousel > .iux-carousel-next {
  background-image:url('/static/project/partnership_ver2_180719-12.png');
  height:40px;
  right:-72px;
  top:252px;
  width:40px;
}
.carousel > .iux-carousel-pager {
  visibility:hidden;
}
.carousel > .iux-carousel-prev {
  background-image:url('/static/project/partnership_ver2_180719-11.png');
  height:40px;
  left:-72px;
  top:252px;
  width:40px;
}
.carousel > .iux-carousel-prev,.carousel > .iux-carousel-next {
  display:inherit;
}
.carousel-item {
  background-image:url('/static/project/partnership_ver2_180719-07.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-910 {
  background-image:url('/static/project/partnership_ver2_180719-08.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-911 {
  background-image:url('/static/project/partnership_ver2_180719-09.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-912 {
  background-image:url('/static/project/partnership_ver2_180719-10.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.section-902 {
  background-size:cover;
  height:754px;
}
.center-box-903 {
  background-image:url('/static/project/partnership_ver2_180719-04.png');
  background-size:cover;
}
.section-904 {
  background-size:cover;
}
.box-913 {
  background-color:#FFFFFF;
  float:none;
  height:60px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:960px;
}
.box-916 {
  background-image:url('/static/project/partnership_ver2_180719-05.png');
  background-size:cover;
  float:none;
  height:540px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:960px;
}
.box-919 {
  background-image:url('/static/project/partnership_schedule.png');
  background-size:contain;
  float:none;
  height:366px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:960px;
}
.section-906 {
  background-size:cover;
}
.box {
  background-color:#FFFFFF;
  float:none;
  height:60px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:960px;
}
.box-915 {
  background-image:url('/static/project/partnership_ver2_180719-06.png');
  background-size:cover;
  float:none;
  height:428px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:960px;
}
.box-918 {
  -webkit-transition:background-color 0.1s;
  border-radius:2px;
  height:58px;
  right:52px;
  top:304px;
  transition:background-color 0.1s;
  width:342px;
}
.box-918.iux-hover, .box-918.iux-active {
  background-color:rgba(255,255,255,0.20);
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .carousel {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .carousel > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .carousel > .iux-carousel-prev,.carousel > .iux-carousel-next {
    display:none;
  }
  .box-913 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-916 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-919 {
    margin-left:auto;
    margin-right:auto;
  }
  .box {
    margin-left:auto;
    margin-right:auto;
  }
  .box-915 {
    margin-left:auto;
    margin-right:auto;
  }
  .footer {
    height:400px;
  }

}