.iu-center-box {
  width:960px;
}
.landing_robotics {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  padding-top:62px;
}
.box-531 {
  background-image:url('/static/project/btn_popup_close.png');
  background-position:center center;
  background-size:100% 100%;
  border-radius:50%;
  height:20px;
  position:fixed;
  right:20px;
  top:80px;
  width:20px;
  z-index:11;
}
.box-528 {
  background-color:#FA690A;
  border-radius:50%;
  height:120px;
  overflow:visible;
  position:fixed;
  right:30px;
  top:80px;
  width:120px;
  z-index:11;
}
.box-530 {
  -webkit-transform:rotate(45deg);
  background-color:#FA690A;
  bottom:0px;
  height:30px;
  margin-bottom:auto;
  margin-top:auto;
  right:-2px;
  top:0px;
  transform:rotate(45deg);
  width:30px;
}
.text-529 {
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:15px;
  font-weight:700;
  height:60px;
  left:0px;
  line-height:1.20;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:30px;
  width:100%;
}
.image {
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.carousel {
  height:400px;
  right:0px;
  top:1100px;
  width:480px;
}
.carousel > .iux-carousel-next {
  background-image:url('/static/project/carousel_arR_M.png');
  height:40px;
  right:10px;
  top:180px;
  width:40px;
}
.carousel > .iux-carousel-pager {
  bottom:40px;
  text-align:center;
  visibility:visible;
}
.carousel > .iux-carousel-pager > li:hover,.carousel > .iux-carousel-pager > li.iux-active {
  background-color:#FA690A;
}
.carousel > .iux-carousel-prev {
  background-image:url('/static/project/carousel_arL_M.png');
  height:40px;
  left:10px;
  top:180px;
  width:40px;
}
.carousel > .iux-carousel-prev,.carousel > .iux-carousel-next {
  display:inherit;
}
.carousel> .iux-carousel-pager > li {
  background-color:#FFFFFF;
  border-radius:6px;
  margin:6px;
  padding:6px;
}
.carousel-item {
  background-image:url('/static/project/IMG_0131.JPG');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-505 {
  background-image:url('/static/project/IMG_0152.JPG');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-506 {
  background-image:url('/static/project/IMG_0154.JPG');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-507 {
  background-image:url('/static/project/IMG_0157.JPG');
  background-size:cover;
  height:100%;
  position:relative;
}
.webmovie {
  height:400px;
  left:0px;
  top:1500px;
  width:480px;
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .box-530 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .text-529 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .image {
    margin-left:0px;
    margin-top:0px;
  }
  .carousel {
    height:126px;
    right:0px;
    top:370px;
    width:160px;
  }
  .carousel > .iux-carousel-pager {
    visibility:hidden;
  }
  .carousel > .iux-carousel-prev,.carousel > .iux-carousel-next {
    display:none;
  }
  .webmovie {
    height:126px;
    left:0px;
    top:504px;
    width:160px;
  }
  .footer {
    height:400px;
  }
  .popup-login {
    width:300px;
  }
  .import {
    width:300px;
  }
  .popup-findpw {
    width:300px;
  }
  .import-361 {
    width:300px;
  }

}