.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.section {
  height:50px;
}
.center-box {
  -webkit-box-shadow:0px 136px 0px 0px ;
  background-image:url('/static/project/title_bg.png');
  box-shadow:0px 136px 0px 0px ;
}
.section-498 {
  height:3414px;
}
.center-box-499 {
  background-image:url('/static/project/deach_web_landing.png');
}
.section-499 {
  height:740px;
}
.center-box-500 {
  overflow:hidden;
}
.carousel {
  float:none;
  height:100%;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.carousel > .iux-carousel-next {
  background-image:url('/static/project/carousel_arR_circle.png');
  height:58px;
  right:15px;
  top:300px;
  width:58px;
}
.carousel > .iux-carousel-pager {
  bottom:40px;
  text-align:center;
  visibility:visible;
}
.carousel > .iux-carousel-pager > li:hover,.carousel > .iux-carousel-pager > li.iux-active {
  background-color:#EE6369;
}
.carousel > .iux-carousel-prev {
  background-image:url('/static/project/carousel_arL_circle.png');
  height:58px;
  left:15px;
  top:300px;
  width:58px;
}
.carousel > .iux-carousel-prev,.carousel > .iux-carousel-next {
  display:inherit;
}
.carousel> .iux-carousel-pager > li {
  background-color:#FFFFFF;
  border-radius:6px;
  margin:6px;
  padding:6px;
}
.carousel-item {
  background-image:url('/static/project/Carousel_1.png');
  height:100%;
  position:relative;
}
.carousel-item-505 {
  background-image:url('/static/project/Carousel_2.png');
  height:100%;
  position:relative;
}
.carousel-item-506 {
  background-image:url('/static/project/Carousel_3.png');
  height:100%;
  position:relative;
}
.carousel-item-507 {
  background-image:url('/static/project/Carousel_4.png');
  height:100%;
  position:relative;
}
.section-501 {
  height:1658px;
}
.box {
  background-image:url('/static/project/1712_bg_deachi.png');
  height:922px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:1100px;
  width:960px;
}
.center-box-502 {
  background-image:url('/static/project/section4_deachi_landing.png');
}
.section-903 {
  height:300px;
}
.center-box-904 {
  background-color:#F3F3F3;
}
.box-509 {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#F06464;
  border-radius:8px;
  bottom:0px;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  height:68px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:560px;
}
.box-509.iux-hover, .box-509.iux-active {
  background-color:rgba(240,100,100,0.90);
}
.cell {
  bottom:0px;
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:100%;
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .carousel > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .carousel > .iux-carousel-prev,.carousel > .iux-carousel-next {
    display:none;
  }
  .box {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .box-509 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .cell {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .footer {
    height:400px;
  }

}