.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.section-125 {
  background-color:#F5F5F5;
}
.center-box-36 {
  padding-bottom:80px;
  padding-top:60px;
}
.text-41 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  text-align:center;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.box-379 {
  float:left;
  margin-left:0px;
  margin-top:40px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.box-952 {
  background-image:url('/static/project/pangyo_ms1.jpg');
  background-size:cover;
  float:none;
  height:320px;
  position:relative;
  width:100%;
}
.box-953 {
  background-color:rgba(0,0,0,0.40);
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.box-953.iux-hover, .box-953.iux-active {
  background-color:transparent;
}
.text-955 {
  bottom:0px;
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:40px;
  font-weight:700;
  height:124px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}
.box-308 {
  float:none;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  width:100%;
}
.text-310 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  position:relative;
  width:22%;
}
.text-311 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:78%;
}
.box-945 {
  float:none;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.text-947 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:22%;
}
.text-950 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  position:relative;
  width:78%;
}
.box-380 {
  float:left;
  margin-left:0px;
  margin-top:40px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.box-954 {
  background-image:url('/static/project/daechi_2.jpg');
  background-size:cover;
  float:none;
  height:320px;
  position:relative;
  width:100%;
}
.box-955 {
  background-color:rgba(0,0,0,0.40);
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.box-955.iux-hover, .box-955.iux-active {
  background-color:transparent;
}
.text-956 {
  bottom:0px;
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:40px;
  font-weight:700;
  height:124px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}
.box-946 {
  float:none;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  width:100%;
}
.text-948 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  position:relative;
  width:22%;
}
.text-949 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:78%;
}
.box-949 {
  float:none;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.text-951 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:22%;
}
.text-952 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:78%;
}
.box {
  float:left;
  margin-left:0px;
  margin-top:40px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.box-934 {
  background-image:url('/static/project/susung_1.jpg');
  background-size:cover;
  float:none;
  height:320px;
  position:relative;
  width:100%;
}
.box-937 {
  background-color:rgba(0,0,0,0.40);
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.box-937.iux-hover, .box-937.iux-active {
  background-color:transparent;
}
.text-940 {
  bottom:0px;
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:40px;
  font-weight:700;
  height:124px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}
.box-936 {
  float:none;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  width:100%;
}
.text-939 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  position:relative;
  width:22%;
}
.text-942 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:78%;
}
.box-935 {
  float:none;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.text-938 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:22%;
}
.text-941 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  position:relative;
  width:78%;
}
.box-943 {
  float:left;
  margin-left:0px;
  margin-top:40px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.box-944 {
  background-image:url('/static/project/pangyo_facade.jpg');
  background-size:cover;
  float:none;
  height:320px;
  position:relative;
  width:100%;
}
.box-950 {
  background-color:rgba(50,50,50,0.80);
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.text-957 {
  bottom:0px;
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:40px;
  font-weight:700;
  height:124px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-216 {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}
.apply_popup {
  background-color:#FFFFFF;
  border-radius:2px;
  height:320px;
  position:fixed;
  width:400px;
  z-index:100;
}
.apply_popup > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.apply_popup-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.pg-form-473 {
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.apply_popup_title {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-203 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:calc(100% - 100px);
  width:-moz-calc(100% - 100px);
  width:-webkit-calc(100% - 100px);
}
.class_name_text {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:30%;
}
.class_name {
  border-color:transparent;
  border-radius:2px;
  border-width:1px;
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:30px;
  line-height:30px;
  margin-left:2%;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  text-align:left;
  width:calc(68% - 18px);
  width:-moz-calc(68% - 18px);
  width:-webkit-calc(68% - 18px);
}
.box-465 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  width:calc(100% - 100px);
  width:-moz-calc(100% - 100px);
  width:-webkit-calc(100% - 100px);
}
.campus_text {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:30%;
}
.campus_select {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:2%;
  margin-top:0px;
  position:relative;
  width:68%;
}
.box-466 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  width:calc(100% - 100px);
  width:-moz-calc(100% - 100px);
  width:-webkit-calc(100% - 100px);
}
.class_time_text {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:30%;
}
.class_time_select {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:2%;
  margin-top:0px;
  position:relative;
  width:68%;
}
.pg-button {
  -webkit-transition:background-color 0.4s;
  background-color:#FA690A;
  border-radius:4px;
  border-width:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  position:relative;
  transition:background-color 0.4s;
  width:180px;
}
.pg-button.iux-hover, .pg-button.iux-active {
  background-color:rgba(250,105,10,0.80);
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .section-125 {
    padding-bottom:52px;
  }
  .center-box-36 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .text-41 {
    font-size:28px;
    margin-left:0px;
    margin-top:0px;
  }
  .box-379 {
    float:none;
    margin-top:28px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .text-955 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-308 {
    margin-left:0px;
    margin-top:20px;
  }
  .text-310 {
    width:25%;
  }
  .text-311 {
    width:75%;
  }
  .box-945 {
    margin-left:0px;
    margin-top:20px;
  }
  .text-947 {
    width:25%;
  }
  .text-950 {
    width:75%;
  }
  .box-380 {
    float:none;
    margin-top:28px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .text-956 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-946 {
    margin-left:0px;
    margin-top:20px;
  }
  .text-948 {
    width:25%;
  }
  .text-949 {
    width:75%;
  }
  .box-949 {
    margin-left:0px;
    margin-top:20px;
  }
  .text-951 {
    width:25%;
  }
  .text-952 {
    width:75%;
  }
  .box {
    float:none;
    margin-top:28px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .text-940 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-936 {
    margin-left:0px;
    margin-top:20px;
  }
  .text-939 {
    width:25%;
  }
  .text-942 {
    width:75%;
  }
  .box-935 {
    margin-left:0px;
    margin-top:20px;
  }
  .text-938 {
    width:25%;
  }
  .text-941 {
    width:75%;
  }
  .box-943 {
    float:none;
    margin-top:28px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .text-957 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .footer {
    height:400px;
  }
  .popup-login {
    width:300px;
  }
  .import-216 {
    width:300px;
  }
  .popup-findpw {
    width:300px;
  }
  .import-361 {
    width:300px;
  }
  .apply_popup {
    width:300px;
  }
  .apply_popup_title {
    margin-left:auto;
    margin-right:auto;
  }
  .box-203 {
    margin-left:auto;
    margin-right:auto;
    width:calc(100% - 30px);
    width:-moz-calc(100% - 30px);
    width:-webkit-calc(100% - 30px);
  }
  .box-465 {
    margin-left:auto;
    margin-right:auto;
    width:calc(100% - 30px);
    width:-moz-calc(100% - 30px);
    width:-webkit-calc(100% - 30px);
  }
  .box-466 {
    margin-left:auto;
    margin-right:auto;
    width:calc(100% - 30px);
    width:-moz-calc(100% - 30px);
    width:-webkit-calc(100% - 30px);
  }
  .pg-button {
    margin-left:auto;
    margin-right:auto;
    width:270px;
  }

}