label {
    visibility: hidden;
    height: 0px;
}
input {
    line-height: 0;
    vertical-align: middle;
    padding: 6px 12px;
}

form p {
    display: inline-block;
}
form button {
    margin-top: 5%;
    float: right;
}

.errorlist {
    display:none;
}

.img-show {
    height: 100%;
    width: 100%;
    min-height: 800px;
    min-width: 600px;
    border: 3px solid #E3AE57;
    text-align: center;
}

.img-show p {
    margin-top: 50%;
    display: inline-block;
    vertical-align: middle;
}

.img-progress {
    margin-top: 50%;
    height: 100%;
    width: 100%;
    min-height: 800px;
    min-width: 600px;
}

.img .progress-p {
    margin-left: 100px;
    line-height: 150%;
    font-size: 18px;
    vertical-align: middle;
    visibility: hidden;
}

.portraitization_title{
    font-size: 26px;
    padding-top: 15px;
}

#user_img {
    height: auto;
    width: 600px;
}