.box-3460 {
  border-radius:2px;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:930px;
}
.collapsible-3461 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.collapsible-header-3462 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  height:48px;
  position:relative;
}
.collapsible-header-item-3464 {
  height:100%;
  width:100%;
}
.box-3468 {
  float:left;
  height:48px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-3472 {
  background-color:rgba(80,160,240,0.40);
  border-radius:2px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  padding:2px;
  position:relative;
  text-align:center;
  width:88px;
}
.cell-3476 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-3480 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-3484 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.box-3488 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.box-3488 > .iux-inner-link {
  position:relative;
}
.svg-3491 {
  float:none;
  height:28px;
  left:20px;
  top:10px;
  width:28px;
}
.cell-3495 {
  border-radius:2px;
  float:right;
  font-weight:700;
  margin-right:30px;
  margin-top:10px;
  padding:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:50px;
}
.box-3498 {
  float:left;
  height:48px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.svg-3500 {
  -webkit-transform:rotate(90deg);
  float:none;
  height:20px;
  left:25px;
  top:15px;
  transform:rotate(90deg);
  width:20px;
}
.cell-3504 {
  border-radius:2px;
  float:right;
  font-weight:700;
  margin-right:30px;
  margin-top:10px;
  padding:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:50px;
}
.collapsible-header-item-3465 {
  display:none;
  height:100%;
  width:100%;
}
.box-3469 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-3474 {
  background-color:rgba(80,160,240,0.40);
  border-radius:2px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  padding:2px;
  position:relative;
  text-align:center;
  width:88px;
}
.cell-3478 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-3481 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-3485 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.box-3489 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.box-3489 > .iux-inner-link {
  position:relative;
}
.svg-3492 {
  float:none;
  height:28px;
  left:20px;
  top:10px;
  width:28px;
}
.cell-3494 {
  border-radius:2px;
  float:right;
  font-weight:700;
  margin-right:30px;
  margin-top:10px;
  padding:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:50px;
}
.box-3497 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.svg-3501 {
  -webkit-transform:rotate(-90deg);
  float:none;
  height:20px;
  left:25px;
  top:15px;
  transform:rotate(-90deg);
  width:20px;
}
.cell-3503 {
  border-radius:2px;
  float:right;
  font-weight:700;
  margin-right:30px;
  margin-top:10px;
  padding:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:50px;
}
.collapsible-content-3463 {
  background-color:#F5F5F5;
  display:none;
  position:relative;
}
.box-3466 {
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-radius:2px;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-bottom:8px;
  padding-top:8px;
  position:relative;
  width:930px;
}
.cell-3470 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:0%;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:36px;
}
.cell-3473 {
  float:left;
  height:45px;
  line-height:45px;
  margin-left:0px;
  margin-top:3px;
  padding-left:15px;
  position:relative;
  text-align:center;
  width:13.89%;
}
.box-3477 {
  float:left;
  height:45px;
  position:relative;
  width:60px;
}
.cell-3482 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-3486 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.cell-3490 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.box-3493 {
  float:left;
  height:45px;
  padding-bottom:0px;
  padding-left:3px;
  padding-right:0px;
  padding-top:0px;
  position:relative;
  width:60px;
}
.cell-3496 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-3499 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.cell-3502 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.box-3505 {
  float:left;
  height:45px;
  position:relative;
  width:60px;
}
.cell-3506 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-3507 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.cell-3508 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.box-3509 {
  float:left;
  height:45px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3510 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-3511 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.cell-3512 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.box-3513 {
  float:left;
  height:45px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3514 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-3515 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.cell-3516 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.box-3517 {
  float:left;
  height:45px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3518 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-3519 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.cell-3520 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.box-3521 {
  float:left;
  height:45px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3522 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-3523 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.cell-3524 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.box-3525 {
  float:left;
  height:45px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3526 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-3527 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.cell-3528 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.box-3529 {
  float:left;
  height:45px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3530 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-3531 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.cell-3532 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.box-3533 {
  float:left;
  height:45px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3534 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-3535 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.cell-3536 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.box-3537 {
  float:left;
  height:45px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3538 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-3539 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.cell-3540 {
  float:left;
  height:25px;
  line-height:25px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.collection-3467 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  position:relative;
  width:930px;
}
.import-3471 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-3475 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-3479 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-3483 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-3487 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
@media screen and (max-width:959px) {
  .box-3460 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-3472 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-3488 > .iux-inner-link {
    position:relative;
  }
  .cell-3495 {
    right:0px;
  }
  .cell-3504 {
    right:0px;
  }
  .cell-3474 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-3489 > .iux-inner-link {
    position:relative;
  }
  .cell-3494 {
    right:0px;
  }
  .cell-3503 {
    right:0px;
  }
  .collapsible-content-3463 {
    display:none;
  }
  .box-3466 {
    margin-left:auto;
    margin-right:auto;
  }

}