.box-3244 {
  border-radius:2px;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:930px;
}
.collapsible-3245 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.collapsible-header-3246 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  height:48px;
  position:relative;
}
.collapsible-header-item-3248 {
  height:100%;
  width:100%;
}
.box-3256 {
  float:left;
  height:48px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-3260 {
  background-color:rgba(80,160,240,0.40);
  border-radius:2px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  padding:2px;
  position:relative;
  text-align:center;
  width:88px;
}
.cell-3264 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-3268 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-3272 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.box-3278 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.box-3278 > .iux-inner-link {
  position:relative;
}
.svg-3281 {
  float:none;
  height:28px;
  left:20px;
  top:10px;
  width:28px;
}
.cell-3284 {
  border-radius:2px;
  float:right;
  font-weight:700;
  margin-right:30px;
  margin-top:10px;
  padding:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:50px;
}
.box-3287 {
  float:left;
  height:48px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.svg-3290 {
  -webkit-transform:rotate(90deg);
  float:none;
  height:20px;
  left:25px;
  top:15px;
  transform:rotate(90deg);
  width:20px;
}
.cell-3293 {
  border-radius:2px;
  float:right;
  font-weight:700;
  margin-right:30px;
  margin-top:10px;
  padding:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:50px;
}
.box-4074 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-4075 {
  border-radius:2px;
  float:right;
  font-weight:700;
  margin-right:5px;
  margin-top:10px;
  padding:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:113px;
}
.collapsible-header-item-3249 {
  display:none;
  height:100%;
  width:100%;
}
.box-3257 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-3261 {
  background-color:rgba(80,160,240,0.40);
  border-radius:2px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  padding:2px;
  position:relative;
  text-align:center;
  width:88px;
}
.cell-3265 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-3269 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-3273 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.box-3279 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.box-3279 > .iux-inner-link {
  position:relative;
}
.svg-3282 {
  float:none;
  height:28px;
  left:20px;
  top:10px;
  width:28px;
}
.cell-3285 {
  border-radius:2px;
  float:right;
  font-weight:700;
  margin-right:30px;
  margin-top:10px;
  padding:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:50px;
}
.box-3288 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.svg-3291 {
  -webkit-transform:rotate(-90deg);
  float:none;
  height:20px;
  left:25px;
  top:15px;
  transform:rotate(-90deg);
  width:20px;
}
.cell-3294 {
  border-radius:2px;
  float:right;
  font-weight:700;
  margin-right:30px;
  margin-top:10px;
  padding:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:50px;
}
.box-4076 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-4077 {
  border-radius:2px;
  float:right;
  font-weight:700;
  margin-right:5px;
  margin-top:10px;
  padding:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:113px;
}
.collapsible-content-3247 {
  background-color:#F5F5F5;
  display:none;
  position:relative;
}
.box-3250 {
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-radius:2px;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-bottom:8px;
  padding-top:8px;
  position:relative;
  width:930px;
}
.cell-3262 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:0%;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:36px;
}
.cell-3266 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  position:relative;
  text-align:center;
  width:13.89%;
}
.box-3301 {
  float:left;
  height:20px;
  position:relative;
  width:60px;
}
.cell-3302 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-3299 {
  float:left;
  height:20px;
  padding-bottom:0px;
  padding-left:3px;
  padding-right:0px;
  padding-top:0px;
  position:relative;
  width:60px;
}
.cell-3280 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-3304 {
  float:left;
  height:20px;
  position:relative;
  width:60px;
}
.cell-3306 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-3308 {
  float:left;
  height:20px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3309 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-3312 {
  float:left;
  height:20px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3314 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-3316 {
  float:left;
  height:20px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3317 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-3320 {
  float:left;
  height:20px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3321 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-3324 {
  float:left;
  height:20px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3325 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-3328 {
  float:left;
  height:20px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3329 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-3332 {
  float:left;
  height:20px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3333 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-3336 {
  float:left;
  height:20px;
  padding-left:3px;
  position:relative;
  width:60px;
}
.cell-3337 {
  float:left;
  height:20px;
  line-height:20px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.collection-3251 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  position:relative;
  width:930px;
}
.import-3255 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-3259 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-3263 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-3267 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-3271 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
@media screen and (max-width:959px) {
  .box-3244 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-3260 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-3278 > .iux-inner-link {
    position:relative;
  }
  .cell-3284 {
    right:0px;
  }
  .cell-3293 {
    right:0px;
  }
  .cell-4075 {
    right:0px;
  }
  .cell-3261 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-3279 > .iux-inner-link {
    position:relative;
  }
  .cell-3285 {
    right:0px;
  }
  .cell-3294 {
    right:0px;
  }
  .cell-4077 {
    right:0px;
  }
  .collapsible-content-3247 {
    display:none;
  }
  .box-3250 {
    margin-left:auto;
    margin-right:auto;
  }

}