.box-3109 {
  float:none;
  padding-bottom:8px;
  position:relative;
  width:100%;
}
.html-3110 {
  color:#6D6D6D;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  height:30px;
  position:relative;
  text-align:center;
  width:30px;
}
.text-3111 {
  color:#6D6D6D;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  line-height:1.40;
  position:relative;
  text-align:left;
  width:126px;
}
@media screen and (max-width:959px) {
  .html-3110 {
    display:none;
    float:none;
  }
  .text-3111 {
    display:none;
    float:none;
  }

}