.dsc1_info-3144 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:275px;
}
@media screen and (max-width:959px) {
  .dsc1_info-3144 {
    float:none;
    margin-left:0px;
    margin-top:2px;
    text-align:left;
    width:270px;
  }

}