.box-2152 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  border-radius:2px;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-bottom:8px;
  padding-top:8px;
  position:relative;
  width:930px;
}
.box-2153 {
  float:left;
  height:30px;
  margin-left:0px;
  margin-top:3px;
  position:relative;
  width:6%;
}
.pg-check-box-2146 {
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-3134 {
  float:left;
  height:36px;
  position:relative;
  width:36px;
}
.image-3133 {
  background-color:#E6E6E6;
  border-color:#E6E6E6;
  border-radius:50%;
  border-width:1px;
  float:left;
  height:34px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  width:34px;
}
.html-3132 {
  -webkit-transition:background-color 0.4s;
  border-radius:50%;
  height:36px;
  transition:background-color 0.4s;
  width:36px;
}
.html-3132.iux-hover, .html-3132.iux-active {
  background-color:rgba(109,109,109,0.50);
}
.cell-2174 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:0px;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:13.87%;
}
.cell-2145 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:0px;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:4.50%;
}
.cell-2958 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:0px;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:12.66%;
}
.box-2154 {
  float:left;
  height:30px;
  margin-left:0.11%;
  margin-top:3px;
  position:relative;
  width:4.23%;
}
.pg-check-box-2152 {
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-2155 {
  float:left;
  height:30px;
  margin-left:0px;
  margin-top:3px;
  position:relative;
  width:4.24%;
}
.pg-check-box-2155 {
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-2717 {
  float:left;
  height:30px;
  margin-left:0.94%;
  margin-top:3px;
  position:relative;
  width:240px;
}
.cell-2150 {
  float:left;
  font-weight:700;
  height:30px;
  line-height:30px;
  margin-left:0%;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:5%;
}
.cell-2734 {
  float:left;
  font-weight:700;
  height:30px;
  line-height:30px;
  margin-left:0.22%;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:6%;
}
.cell-3146 {
  float:left;
  font-weight:700;
  height:30px;
  line-height:30px;
  margin-left:0.32%;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:6.50%;
}
.cell-3226 {
  float:left;
  font-weight:700;
  height:30px;
  line-height:30px;
  margin-left:0.32%;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:4.49%;
}
.cell-3829 {
  float:left;
  font-weight:700;
  height:30px;
  line-height:30px;
  margin-left:40.60%;
  margin-top:-30px;
  position:relative;
  text-align:center;
  width:25.70%;
}
@media screen and (max-width:959px) {
  .box-2152 {
    margin-left:auto;
    margin-right:auto;
  }
  .pg-check-box-2146 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .pg-check-box-2152 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .pg-check-box-2155 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }

}