.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.section-1084 {
  background-color:#F5F5F5;
  padding-bottom:30px;
}
.box-1116 {
  background-color:#FA690A;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  width:3000px;
}
.center-box-1085 {
  overflow:visible;
}
.carousel {
  float:none;
  height:200px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  overflow:hidden;
  position:relative;
  width:930px;
}
.carousel > .iux-carousel-next {
  background-image:url('/static/project/main_180726_arR.png');
  height:200px;
  right:0px;
  top:0px;
  width:36px;
}
.carousel > .iux-carousel-pager {
  visibility:hidden;
}
.carousel > .iux-carousel-prev {
  background-image:url('/static/project/main_180726_arL.png');
  height:200px;
  left:0px;
  top:0px;
  width:36px;
}
.carousel > .iux-carousel-prev,.carousel > .iux-carousel-next {
  display:inherit;
}
.carousel-item-1087 {
  background-image:url('/static/project/main_180726-01.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-1087 > .iux-inner-link {
  position:relative;
}
.carousel-item-1088 {
  background-image:url('/static/project/main_180726-02.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-1088 > .iux-inner-link {
  position:relative;
}
.carousel-item-1089 {
  background-image:url('/static/project/main_180726-03.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-1089 > .iux-inner-link {
  position:relative;
}
.carousel-item-1090 {
  background-image:url('/static/project/main_180726-04.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-1090 > .iux-inner-link {
  position:relative;
}
.box-1091 {
  float:none;
  height:426px;
  margin-left:15px;
  margin-top:30px;
  position:relative;
  width:930px;
}
.box-1092 {
  background-image:url('/static/project/main_180726-07.png');
  background-size:cover;
  float:left;
  height:426px;
  position:relative;
  width:500px;
}
.box-1113 {
  border-radius:50%;
  height:124px;
  left:44px;
  top:254px;
  width:124px;
}
.box-1113.iux-hover, .box-1113.iux-active {
  background-color:rgba(255,255,255,0.20);
}
.box-1115 {
  border-radius:50%;
  height:124px;
  left:188px;
  top:254px;
  width:124px;
}
.box-1115.iux-hover, .box-1115.iux-active {
  background-color:rgba(255,255,255,0.20);
}
.box-1114 {
  border-radius:50%;
  height:124px;
  left:332px;
  top:254px;
  width:124px;
}
.box-1114.iux-hover, .box-1114.iux-active {
  background-color:rgba(255,255,255,0.20);
}
.box-1093 {
  background-image:url('/static/project/banner_partnership_8.png');
  background-size:contain;
  float:right;
  height:426px;
  margin-right:0px;
  margin-top:0px;
  position:relative;
  right:0px;
  width:424px;
}
.webmovie-1115 {
  bottom:0px;
  height:236px;
  width:424px;
}
.box-1095 {
  float:none;
  height:250px;
  margin-left:15px;
  margin-top:20px;
  position:relative;
  width:930px;
}
.carousel-1097 {
  float:left;
  height:250px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:500px;
}
.carousel-1097 > .iux-carousel-pager {
  bottom:40px;
  text-align:center;
  visibility:visible;
}
.carousel-1097 > .iux-carousel-pager > li:hover,.carousel-1097 > .iux-carousel-pager > li.iux-active {
  background-color:#FC5000;
}
.carousel-1097 > .iux-carousel-prev,.carousel-1097 > .iux-carousel-next {
  display:none;
}
.carousel-1097> .iux-carousel-pager > li {
  background-color:#DBDBDB;
  border-radius:5px;
  margin:4px;
  padding:5px;
}
.carousel-item-1098 {
  background-image:url('/static/project/main_180726-10.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-1098 > .iux-inner-link {
  position:relative;
}
.carousel-item-1099 {
  background-image:url('/static/project/main_180726-11.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-1099 > .iux-inner-link {
  position:relative;
}
.carousel-item-1100 {
  background-image:url('/static/project/main_180726-22.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-1100 > .iux-inner-link {
  position:relative;
}
.carousel-item-1101 {
  background-image:url('/static/project/main_180726-23.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-1101 > .iux-inner-link {
  position:relative;
}
.carousel-item-1116 {
  background-image:url('/static/project/main_180726-12.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-1116 > .iux-inner-link {
  position:relative;
}
.carousel-item-1117 {
  background-image:url('/static/project/main_180726-13.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-1117 > .iux-inner-link {
  position:relative;
}
.box-1098 {
  background-image:url('/static/project/main_180907-24.png');
  background-size:cover;
  float:right;
  height:250px;
  margin-right:0px;
  margin-top:0px;
  position:relative;
  right:0px;
  width:424px;
}
.box-1117 {
  border-radius:2px;
  height:32px;
  left:30px;
  top:190px;
  width:168px;
}
.box-1117.iux-hover, .box-1117.iux-active {
  background-color:rgba(244,241,231,0.20);
}
.box-1118 {
  border-radius:2px;
  height:32px;
  left:226px;
  top:190px;
  width:168px;
}
.box-1118.iux-hover, .box-1118.iux-active {
  background-color:rgba(244,241,231,0.20);
}
.box-1102 {
  float:none;
  height:250px;
  margin-left:15px;
  margin-top:20px;
  position:relative;
  width:930px;
}
.box-1103 {
  background-image:url('/static/project/main_180726-15.png');
  background-size:cover;
  float:left;
  height:250px;
  position:relative;
  width:247px;
}
.box-1108 {
  background-image:url('/static/project/main_180726-16.png');
  background-size:cover;
  float:left;
  height:250px;
  margin-left:6px;
  position:relative;
  width:247px;
}
.carousel-1102 {
  float:right;
  height:250px;
  position:relative;
  right:0px;
  width:424px;
}
.carousel-1102 > .iux-carousel-pager {
  bottom:40px;
  text-align:center;
  visibility:visible;
}
.carousel-1102 > .iux-carousel-pager > li:hover,.carousel-1102 > .iux-carousel-pager > li.iux-active {
  background-color:#FC5000;
}
.carousel-1102 > .iux-carousel-prev,.carousel-1102 > .iux-carousel-next {
  display:none;
}
.carousel-1102> .iux-carousel-pager > li {
  background-color:#DBDBDB;
  border-radius:5px;
  margin:4px;
  padding:5px;
}
.carousel-item-1104 {
  background-image:url('/static/project/main_180726-17.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-1104 > .iux-inner-link {
  position:relative;
}
.carousel-item-1105 {
  background-image:url('/static/project/main_180726-18.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-1105 > .iux-inner-link {
  position:relative;
}
.carousel-item-1106 {
  background-image:url('/static/project/main_180726-19.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-1106 > .iux-inner-link {
  position:relative;
}
.carousel-item-1107 {
  background-image:url('/static/project/main_180726-20.png');
  background-size:cover;
  height:100%;
  position:relative;
}
.carousel-item-1107 > .iux-inner-link {
  position:relative;
}
.box-1079 {
  -webkit-box-shadow:0px 4px 20px 2px rgba(0,0,0,0.40);
  background-image:url('/static/project/Mainbanner_ver2_18_7_12.jpg');
  background-size:cover;
  box-shadow:0px 4px 20px 2px rgba(0,0,0,0.40);
  display:none;
  float:none;
  height:520px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:90px;
  width:660px;
  z-index:1000;
}
.box-1101 {
  background-image:url('/static/project/Mainbanner_ver2_18_7_12.jpg');
  background-size:cover;
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.box-531 {
  background-image:url('/static/project/btn_close.png');
  background-position:center center;
  background-size:100% 100%;
  height:22px;
  right:10px;
  top:6px;
  width:22px;
}
.box-531.iux-hover, .box-531.iux-active {
  background-color:rgba(255,255,255,0.10);
}
.box-1086 {
  height:60px;
  left:3px;
  top:458px;
  width:654px;
}
.box-1086.iux-hover, .box-1086.iux-active {
  background-color:rgba(255,255,255,0.30);
}
.box-1041 {
  background-size:cover;
  bottom:0px;
  display:none;
  height:333px;
  left:0px;
  width:calc(100% / 3);
  width:-moz-calc(100% / 3);
  width:-webkit-calc(100% / 3);
}
.box-1041.iux-hover, .box-1041.iux-active {
  background-image:url('/static/project/popup_banner_18_4_27-01.png');
}
.box-1065 {
  border-radius:2px;
  display:none;
  height:34px;
  left:29px;
  top:256px;
  width:162px;
}
.cell-1067 {
  background-color:#FFFFFF;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:15px;
  font-weight:400;
  height:34px;
  letter-spacing:-0.2px;
  line-height:34px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-1067.iux-hover, .cell-1067.iux-active {
  background-color:#FA690A;
  color:#FFFFFF;
}
.box-1062 {
  border-radius:2px;
  display:none;
  height:34px;
  left:29px;
  top:298px;
  width:162px;
}
.cell-1068 {
  background-color:#FFFFFF;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:15px;
  font-weight:400;
  height:34px;
  letter-spacing:-0.2px;
  line-height:34px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-1068.iux-hover, .cell-1068.iux-active {
  background-color:#FA690A;
  color:#FFFFFF;
}
.box-1050 {
  border-radius:2px;
  height:34px;
  left:29px;
  top:260px;
  width:162px;
}
.cell-1069 {
  background-color:#FFFFFF;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:15px;
  font-weight:400;
  height:34px;
  left:0px;
  letter-spacing:-0.2px;
  line-height:34px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-1069.iux-hover, .cell-1069.iux-active {
  background-color:#FA690A;
  color:#FFFFFF;
}
.box-1042 {
  background-size:cover;
  bottom:0px;
  display:none;
  height:333px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  width:calc(100% / 3);
  width:-moz-calc(100% / 3);
  width:-webkit-calc(100% / 3);
}
.box-1042.iux-hover, .box-1042.iux-active {
  background-image:url('/static/project/popup_banner_18_4_27-02.png');
}
.box-1064 {
  border-radius:2px;
  display:none;
  height:34px;
  left:29px;
  top:256px;
  width:162px;
}
.cell-1070 {
  background-color:#FFFFFF;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:15px;
  font-weight:400;
  height:34px;
  letter-spacing:-0.2px;
  line-height:34px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-1070.iux-hover, .cell-1070.iux-active {
  background-color:#FA690A;
  color:#FFFFFF;
}
.box-1061 {
  border-radius:2px;
  display:none;
  height:34px;
  left:29px;
  top:298px;
  width:162px;
}
.cell-1073 {
  background-color:#FFFFFF;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:15px;
  font-weight:400;
  height:34px;
  letter-spacing:-0.2px;
  line-height:34px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-1073.iux-hover, .cell-1073.iux-active {
  background-color:#FA690A;
  color:#FFFFFF;
}
.box-1049 {
  border-radius:2px;
  height:34px;
  left:29px;
  top:260px;
  width:162px;
}
.cell-1075 {
  background-color:#FFFFFF;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:15px;
  font-weight:400;
  height:34px;
  left:0px;
  letter-spacing:-0.2px;
  line-height:34px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-1075.iux-hover, .cell-1075.iux-active {
  background-color:#FA690A;
  color:#FFFFFF;
}
.box-1043 {
  background-size:cover;
  bottom:0px;
  display:none;
  height:333px;
  right:0px;
  width:calc(100% / 3);
  width:-moz-calc(100% / 3);
  width:-webkit-calc(100% / 3);
}
.box-1043.iux-hover, .box-1043.iux-active {
  background-image:url('/static/project/popup_banner_18_4_27-03.png');
}
.box-1063 {
  border-radius:2px;
  display:none;
  height:34px;
  left:29px;
  top:256px;
  width:162px;
}
.cell-1071 {
  background-color:#FFFFFF;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:15px;
  font-weight:400;
  height:34px;
  letter-spacing:-0.2px;
  line-height:34px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-1071.iux-hover, .cell-1071.iux-active {
  background-color:#FA690A;
  color:#FFFFFF;
}
.box-1060 {
  border-radius:2px;
  display:none;
  height:34px;
  left:29px;
  top:298px;
  width:162px;
}
.cell-1072 {
  background-color:#FFFFFF;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:15px;
  font-weight:400;
  height:34px;
  letter-spacing:-0.2px;
  line-height:34px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-1072.iux-hover, .cell-1072.iux-active {
  background-color:#FA690A;
  color:#FFFFFF;
}
.box-1047 {
  border-radius:2px;
  height:34px;
  left:29px;
  top:260px;
  width:162px;
}
.cell-1074 {
  background-color:#FFFFFF;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:15px;
  font-weight:400;
  height:34px;
  left:0px;
  letter-spacing:-0.2px;
  line-height:34px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-1074.iux-hover, .cell-1074.iux-active {
  background-color:#FA690A;
  color:#FFFFFF;
}
.section {
  background-image:url('/static/project/index_pic_1.jpg');
  background-size:cover;
  display:none;
  height:740px;
}
.html-449 {
  float:none;
  height:100px;
  width:100px;
}
.box-203 {
  background-color:rgba(0,0,0,0.10);
  background-image:url('/static/project/screen_effect.png');
  background-repeat:repeat;
  float:none;
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.box-614 {
  float:none;
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:960px;
}
.box-618 {
  -webkit-transition:background-color 0.2s;
  background-color:rgba(255,225,42,0.65);
  border-radius:2px;
  height:164px;
  right:50px;
  top:60px;
  transition:background-color 0.2s;
  width:510px;
}
.box-618.iux-hover, .box-618.iux-active {
  background-color:rgba(230,230,230,0.80);
}
.text-626 {
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:300;
  left:32px;
  text-align:left;
  top:122px;
}
.text-622 {
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  font-size:32px;
  font-weight:700;
  left:32px;
  line-height:1.40;
  text-align:left;
  top:24px;
  width:478px;
}
.cell-1045 {
  background-color:#FFFFFF;
  border-radius:4px;
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:36px;
  right:32px;
  text-align:center;
  top:106px;
  width:140px;
}
.cell-1045 > a {
  line-height:36px;
}
.box-644 {
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.box-620 {
  -webkit-transition:background-color 0.2s;
  background-color:rgba(250,105,10,0.72);
  background-image:url('/static/project/partnership_ver2_180719-13.png');
  background-size:cover;
  border-radius:2px;
  float:none;
  height:200px;
  left:50px;
  top:226px;
  transition:background-color 0.2s;
  width:510px;
}
.box-620.iux-hover, .box-620.iux-active {
  background-color:rgba(230,230,230,0.80);
}
.cell-1046 {
  background-color:#FC5000;
  border-radius:4px;
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:36px;
  right:32px;
  text-align:center;
  top:130px;
  width:180px;
}
.cell-1046 > a {
  line-height:36px;
}
.text-623 {
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  font-size:32px;
  font-weight:700;
  left:32px;
  letter-spacing:-0.2px;
  text-align:left;
  top:44px;
  width:446px;
}
.text-1083 {
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:300;
  left:32px;
  line-height:1.80;
  text-align:left;
  top:116px;
}
.box-643 {
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.box-647 {
  -webkit-transition:background-color 0.2s;
  background-color:rgba(230,230,230,0.72);
  background-image:url('/static/project/pm2.5_bg.jpeg');
  background-position:-24px -90px;
  background-size:590px ;
  border-radius:2px;
  height:200px;
  right:50px;
  top:226px;
  transition:background-color 0.2s;
  width:348px;
}
.box-647.iux-hover, .box-647.iux-active {
  background-color:rgba(230,230,230,0.80);
}
.text-1052 {
  color:#323232;
  font-family:'Nanum Gothic', sans-serif;
  font-size:32px;
  font-weight:700;
  left:35px;
  line-height:1.20;
  text-align:left;
  top:60px;
  width:300px;
}
.text-1056 {
  color:#323232;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:300;
  left:32px;
  top:22px;
  width:300px;
}
.floating-image {
  background-image:url('/static/project/PM2.5.png');
  background-position:center center;
  background-size:contain;
  display:none;
  height:132px;
  right:6px;
  top:18px;
  width:132px;
}
.box-651 {
  display:none;
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.box-1051 {
  -webkit-transition:background-color 0.2s;
  background-color:rgba(230,230,230,0.72);
  background-image:url('/static/project/code_hero.png');
  background-position:-46px -24px;
  background-size:420px ;
  border-radius:2px;
  float:none;
  height:164px;
  left:50px;
  top:60px;
  transition:background-color 0.2s;
  width:348px;
}
.box-1051.iux-hover, .box-1051.iux-active {
  background-color:rgba(230,230,230,0.80);
}
.svg-1057 {
  display:none;
  height:120px;
  right:22px;
  top:28px;
  width:120px;
}
.text-1053 {
  color:#323232;
  font-family:'Nanum Gothic', sans-serif;
  font-size:32px;
  font-weight:700;
  left:32px;
  text-align:left;
  top:24px;
  width:243px;
}
.text-1054 {
  color:#323232;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:300;
  left:32px;
  top:72px;
  width:447px;
}
.cell-1053 {
  background-color:#FFFFFF;
  border-radius:4px;
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:36px;
  left:32px;
  text-align:center;
  top:106px;
  width:140px;
}
.cell-1053 > a {
  line-height:36px;
}
.floating-image-1054 {
  -webkit-transform:rotate(-20deg);
  background-image:url('/static/project/P1266072_copy.png');
  background-position:center center;
  background-size:contain;
  display:none;
  height:66px;
  right:20px;
  top:19px;
  transform:rotate(-20deg);
  width:66px;
}
.floating-image-1055 {
  background-image:url('/static/project/P1266068_copy.png');
  background-position:center center;
  background-size:contain;
  display:none;
  height:60px;
  right:41px;
  top:78px;
  width:60px;
}
.box-1054 {
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.box-1081 {
  background-color:rgba(255,255,255,0.60);
  border-radius:2px;
  height:100px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:428px;
  width:860px;
}
.svg-1085 {
  -webkit-transform:rotate(20deg);
  height:200px;
  left:0px;
  top:6px;
  transform:rotate(20deg);
  width:180px;
}
.cell-1083 {
  background-color:#FFFFFF;
  border-radius:4px;
  color:#FA690A;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:36px;
  right:20px;
  text-align:center;
  top:34px;
  width:140px;
}
.cell-1083 > a {
  line-height:36px;
}
.text-1081 {
  color:#DC5000;
  font-family:'Nanum Gothic', sans-serif;
  font-size:32px;
  font-weight:700;
  left:32px;
  text-align:left;
  top:26px;
}
.text-1082 {
  color:#DC5000;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  left:512px;
  top:29px;
}
.text-1084 {
  background-color:rgba(50,50,50,0.60);
  bottom:40px;
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:15px;
  height:68px;
  left:50px;
  line-height:1.20;
  padding-top:12px;
  text-align:center;
  width:280px;
}
.text-1096 {
  background-color:rgba(50,50,50,0.60);
  bottom:40px;
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:17px;
  height:66px;
  left:340px;
  padding-top:14px;
  text-align:center;
  width:280px;
}
.text-631 {
  background-color:rgba(50,50,50,0.60);
  bottom:40px;
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:17px;
  height:66px;
  padding-top:14px;
  right:50px;
  text-align:center;
  width:280px;
}
.section-61 {
  background-attachment:fixed;
  background-color:#FFFFFF;
  background-position:center center;
  background-size:cover;
  padding-bottom:80px;
  padding-top:60px;
}
.center-box-62 {
  background-size:contain;
  overflow:visible;
}
.text-66 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.text-67 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:22px;
  font-weight:400;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-662 {
  float:left;
  height:288px;
  margin-top:40px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.webmovie {
  border-radius:2px;
  float:none;
  height:100%;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.box-663 {
  float:left;
  margin-top:40px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.carousel-605 {
  float:none;
  height:288px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.carousel-605 > .iux-carousel-next {
  background-image:url('/static/project/ar1.png');
  height:26px;
  right:10px;
  top:120px;
  width:26px;
}
.carousel-605 > .iux-carousel-pager {
  visibility:hidden;
}
.carousel-605 > .iux-carousel-prev {
  background-image:url('/static/project/ar2.png');
  height:26px;
  left:10px;
  top:120px;
  width:26px;
}
.carousel-605 > .iux-carousel-prev,.carousel-605 > .iux-carousel-next {
  display:inherit;
}
.carousel-item-606 {
  height:100%;
  position:relative;
}
.review-609 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:80%;
}
.reviewer-612 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:28px;
  position:relative;
  text-align:center;
  width:80%;
}
.carousel-item-607 {
  height:100%;
  position:relative;
}
.review-610 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:80%;
}
.reviewer-613 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:28px;
  position:relative;
  text-align:center;
  width:80%;
}
.carousel-item-608 {
  height:100%;
  position:relative;
}
.review-611 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:12px;
  position:relative;
  text-align:center;
  width:80%;
}
.reviewer-614 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:28px;
  position:relative;
  text-align:center;
  width:80%;
}
.image {
  display:none;
  height:20px;
  left:10px;
  top:120px;
  width:20px;
}
.image-558 {
  display:none;
  height:20px;
  right:10px;
  top:120px;
  width:20px;
}
.section-1056 {
  background-color:#F5F5F5;
  padding-bottom:80px;
  padding-top:60px;
}
.text-511 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  text-align:center;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.box-1059 {
  float:left;
  height:288px;
  margin-top:40px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.webmovie-1061 {
  border-radius:2px;
  float:none;
  height:100%;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.box-1058 {
  float:left;
  height:288px;
  margin-top:40px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.webmovie-1060 {
  border-radius:2px;
  float:none;
  height:100%;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.section-361 {
  background-color:#FA690A;
  display:none;
  height:60px;
}
.carousel-560 {
  display:none;
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.carousel-560 > .iux-carousel-next {
  background-image:url('/static/project/ticker_arR.png');
  height:20px;
  right:0px;
  top:0px;
  width:20px;
}
.carousel-560 > .iux-carousel-pager {
  visibility:hidden;
}
.carousel-560 > .iux-carousel-prev {
  background-image:url('/static/project/ticker_arL.png');
  height:20px;
  left:0px;
  top:0px;
  width:20px;
}
.carousel-560 > .iux-carousel-prev,.carousel-560 > .iux-carousel-next {
  display:inherit;
}
.carousel-item-561 {
  height:100%;
  position:relative;
}
.cell {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:60px;
  left:0px;
  text-align:center;
  top:0px;
  width:100%;
}
.cell > a {
  line-height:60px;
}
.carousel-item-562 {
  height:100%;
  position:relative;
}
.cell-563 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:60px;
  left:0px;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-563 > a {
  line-height:60px;
}
.carousel-item {
  height:100%;
  position:relative;
}
.cell-613 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:60px;
  left:0px;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-613 > a {
  line-height:60px;
}
.notice_marquee {
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:100%;
  padding-left:15px;
  padding-right:15px;
  right:0px;
  top:0px;
  width:calc(100% - 196px);
  width:-moz-calc(100% - 196px);
  width:-webkit-calc(100% - 196px);
}
.text-399 {
  background-color:#FFFFFF;
  border-radius:2px;
  bottom:0px;
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight:700;
  height:30px;
  left:15px;
  margin-bottom:auto;
  margin-top:auto;
  padding-left:15px;
  padding-right:15px;
  top:0px;
}
.section-77 {
  padding-bottom:80px;
  padding-top:60px;
}
.text-524 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box {
  background-color:#FFFFFF;
  border-radius:2px;
  float:left;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:300px;
}
.svg-89 {
  float:none;
  height:300px;
  left:0px;
  top:-30px;
  width:300px;
}
.text-91 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:10px;
  margin-top:260px;
  position:relative;
  text-align:center;
  width:280px;
}
.regular_text {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:10px;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:280px;
}
.box-80 {
  background-color:#FFFFFF;
  border-radius:2px;
  float:left;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:300px;
}
.svg-90 {
  float:none;
  height:300px;
  left:0px;
  top:-30px;
  width:300px;
}
.text-92 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:10px;
  margin-top:260px;
  position:relative;
  text-align:center;
  width:280px;
}
.camp_text {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:10px;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:280px;
}
.box-81 {
  background-color:#FFFFFF;
  border-radius:2px;
  float:left;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:300px;
}
.svg-91 {
  float:none;
  height:300px;
  left:0px;
  top:-30px;
  width:300px;
}
.text-93 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:10px;
  margin-top:260px;
  position:relative;
  text-align:center;
  width:280px;
}
.js_text {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:10px;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:280px;
}
.tabview {
  display:none;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:100.00px;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.tab-header {
  font-size:14px;
  height:310px;
  left:0px;
  position:relative;
  top:0px;
}
.tab-header-item {
  float:left;
  height:100%;
  position:relative;
  width:calc(100% / 3);
  width:-moz-calc(100% / 3);
  width:-webkit-calc(100% / 3);
}
.svg-542 {
  bottom:0px;
  float:none;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:100%;
}
.tab-header-active-item {
  background-color:rgba(250,105,10,0.10);
  border-radius:50%;
  display:none;
}
.svg-545 {
  bottom:0px;
  float:none;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:100%;
}
.tab-header-item-529 {
  float:left;
  height:100%;
  position:relative;
  width:calc(100% / 3);
  width:-moz-calc(100% / 3);
  width:-webkit-calc(100% / 3);
}
.svg-543 {
  bottom:0px;
  float:none;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:100%;
}
.tab-header-active-item-539 {
  background-color:rgba(250,105,10,0.10);
  border-radius:50%;
  display:none;
}
.svg-546 {
  bottom:0px;
  float:none;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:100%;
}
.tab-header-item-542 {
  float:left;
  height:100%;
  position:relative;
  width:calc(100% / 3);
  width:-moz-calc(100% / 3);
  width:-webkit-calc(100% / 3);
}
.svg-544 {
  bottom:0px;
  float:none;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:100%;
}
.tab-header-active-item-543 {
  background-color:rgba(250,105,10,0.10);
  border-radius:50%;
  display:none;
}
.svg-547 {
  bottom:0px;
  float:none;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:100%;
}
.tab-content {
  left:0px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  top:0px;
}
.tab-content-item {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.box-546 {
  float:none;
  margin-left:0px;
  margin-top:20px;
  padding:20px;
  position:relative;
}
.text-546 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.regular_text-547 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  position:relative;
  text-align:center;
  width:100%;
}
.box-555 {
  float:none;
  height:100px;
  width:100px;
}
.tab-content-item-531 {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.box-548 {
  float:none;
  margin-left:0px;
  margin-top:20px;
  padding:20px;
  position:relative;
}
.text-549 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  position:relative;
  text-align:center;
  width:100%;
}
.regular_text-550 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-556 {
  float:none;
  height:100px;
  width:100px;
}
.tab-content-item-547 {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.box-551 {
  float:none;
  margin-left:0px;
  margin-top:20px;
  padding:20px;
  position:relative;
}
.text-552 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  position:relative;
  text-align:center;
  width:100%;
}
.regular_text-553 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-557 {
  float:none;
  height:100px;
  width:100px;
}
.section-300 {
  background-color:#FA690A;
  display:none;
  height:60px;
  overflow:visible;
}
.pg-form-362 {
  float:none;
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  overflow:visible;
  right:0px;
  top:0px;
  width:930px;
}
.html {
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  left:40px;
  overflow:visible;
  top:2px;
}
.pg-button {
  -webkit-transition:background-color 0.4s, color 0.4s;
  background-color:rgba(255,255,255,0.20);
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  left:700px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transition:background-color 0.4s, color 0.4s;
  width:180px;
}
.pg-button.iux-hover, .pg-button.iux-active {
  background-color:rgba(255,255,255,0.80);
  color:#FA690A;
}
.section-301 {
  background-attachment:fixed;
  background-color:#FA690A;
  background-image:url('/static/project/whyCoding.jpg');
  background-repeat:repeat;
  background-size:contain;
  display:none;
}
.box-314 {
  background-color:rgba(0,0,0,0.50);
  float:none;
  height:100%;
  width:100%;
}
.center-box-302 {
  background-attachment:fixed;
  background-size:cover;
}
.text-303 {
  color:#FFFFFF;
  float:none;
  font-family:Bariol;
  font-size:36px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:60px;
  position:relative;
  text-align:center;
  width:100%;
}
.carousel-304 {
  float:none;
  height:250px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.carousel-304 > .iux-carousel-next {
  background-image:url('/static/project/carousel_arR_M.png');
  height:40px;
  right:15px;
  top:80px;
  width:40px;
}
.carousel-304 > .iux-carousel-pager {
  visibility:hidden;
}
.carousel-304 > .iux-carousel-prev {
  background-image:url('/static/project/carousel_arL_M.png');
  height:40px;
  left:15px;
  top:80px;
  width:40px;
}
.carousel-304 > .iux-carousel-prev,.carousel-304 > .iux-carousel-next {
  display:inherit;
}
.carousel-item-305 {
  height:100%;
  position:relative;
}
.review {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:400;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:60px;
  width:80%;
}
.reviewer {
  color:#E6E6E6;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:145px;
  width:80%;
}
.carousel-item-306 {
  height:100%;
  position:relative;
}
.review-309 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:400;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:60px;
  width:80%;
}
.reviewer-312 {
  color:#E6E6E6;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:145px;
  width:80%;
}
.carousel-item-307 {
  height:100%;
  position:relative;
}
.review-323 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:400;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:60px;
  width:80%;
}
.reviewer-324 {
  color:#E6E6E6;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:145px;
  width:80%;
}
.carousel-item-317 {
  height:100%;
  position:relative;
}
.review-321 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:400;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:60px;
  width:80%;
}
.reviewer-322 {
  color:#E6E6E6;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:145px;
  width:80%;
}
.carousel-item-318 {
  height:100%;
  position:relative;
}
.review-319 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:400;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:60px;
  width:80%;
}
.reviewer-320 {
  color:#E6E6E6;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:145px;
  width:80%;
}
.section-35 {
  background-color:#FA690A;
  padding-bottom:80px;
  padding-top:60px;
}
.text-88 {
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.text-89 {
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:22px;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.text-42 {
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:40px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:465.00px;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.box-524 {
  float:right;
  margin-right:15px;
  margin-top:44px;
  position:relative;
  right:0px;
  width:210px;
}
.svg-45 {
  border-radius:40px;
  float:left;
  height:40px;
  position:relative;
  width:40px;
}
.cell-43 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:34px;
  margin-left:10px;
  margin-top:2px;
  position:relative;
  text-align:center;
  transition:background-color 0.4s, color 0.4s;
  width:158px;
}
.cell-43 > a {
  line-height:34px;
}
.cell-43.iux-hover, .cell-43.iux-active {
  background-color:rgba(255,255,255,0.90);
  color:#FA690A;
}
.box-523 {
  float:right;
  margin-right:15px;
  margin-top:44px;
  position:relative;
  right:0px;
  width:210px;
}
.svg {
  border-radius:40px;
  float:left;
  height:40px;
  position:relative;
  width:40px;
}
.kakaotalk_pangyo {
  -webkit-transition:background-color 0.4s, color 0.4s;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:34px;
  margin-top:2px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s, color 0.4s;
  width:158px;
}
.kakaotalk_pangyo > a {
  line-height:34px;
}
.kakaotalk_pangyo.iux-hover, .kakaotalk_pangyo.iux-active {
  background-color:rgba(255,255,255,0.90);
  color:#FA690A;
}
.kakaotalk_daechi {
  -webkit-transition:background-color 0.4s, color 0.4s;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:34px;
  margin-right:0px;
  margin-top:10px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s, color 0.4s;
  width:158px;
}
.kakaotalk_daechi > a {
  line-height:34px;
}
.kakaotalk_daechi.iux-hover, .kakaotalk_daechi.iux-active {
  background-color:rgba(255,255,255,0.90);
  color:#FA690A;
}
.kakaotalk_daegu {
  -webkit-transition:background-color 0.4s, color 0.4s;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:34px;
  margin-top:10px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s, color 0.4s;
  width:158px;
}
.kakaotalk_daegu > a {
  line-height:34px;
}
.kakaotalk_daegu.iux-hover, .kakaotalk_daegu.iux-active {
  background-color:rgba(255,255,255,0.90);
  color:#FA690A;
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .box-1116 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .carousel {
    margin-left:auto;
    margin-right:auto;
  }
  .carousel > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .carousel > .iux-carousel-prev,.carousel > .iux-carousel-next {
    display:none;
  }
  .carousel-item-1087 > .iux-inner-link {
    position:relative;
  }
  .carousel-item-1088 > .iux-inner-link {
    position:relative;
  }
  .carousel-item-1089 > .iux-inner-link {
    position:relative;
  }
  .carousel-item-1090 > .iux-inner-link {
    position:relative;
  }
  .box-1093 {
    right:0px;
  }
  .webmovie-1115 {
    bottom:0px;
  }
  .carousel-1097 > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .carousel-1097 > .iux-carousel-prev,.carousel-1097 > .iux-carousel-next {
    display:none;
  }
  .carousel-item-1098 > .iux-inner-link {
    position:relative;
  }
  .carousel-item-1099 > .iux-inner-link {
    position:relative;
  }
  .carousel-item-1100 > .iux-inner-link {
    position:relative;
  }
  .carousel-item-1101 > .iux-inner-link {
    position:relative;
  }
  .carousel-item-1116 > .iux-inner-link {
    position:relative;
  }
  .carousel-item-1117 > .iux-inner-link {
    position:relative;
  }
  .box-1098 {
    right:0px;
  }
  .carousel-1102 {
    right:0px;
  }
  .carousel-1102 > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .carousel-1102 > .iux-carousel-prev,.carousel-1102 > .iux-carousel-next {
    display:none;
  }
  .carousel-item-1104 > .iux-inner-link {
    position:relative;
  }
  .carousel-item-1105 > .iux-inner-link {
    position:relative;
  }
  .carousel-item-1106 > .iux-inner-link {
    position:relative;
  }
  .carousel-item-1107 > .iux-inner-link {
    position:relative;
  }
  .box-1079 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .cell-1067 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .cell-1068 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .cell-1069 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-1042 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .cell-1070 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .cell-1073 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .cell-1075 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .cell-1071 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .cell-1072 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .cell-1074 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .section {
    height:420px;
  }
  .box-203 {
    left:0px;
    top:0px;
  }
  .box-614 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .box-1081 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .section-61 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .text-66 {
    font-size:28px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .text-67 {
    font-size:18px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .box-662 {
    float:none;
    height:240px;
    margin-left:0px;
    margin-top:28px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .webmovie {
    margin-left:0px;
    margin-top:0px;
  }
  .box-663 {
    float:none;
    margin-left:0px;
    margin-top:28px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .carousel-605 {
    height:300px;
    margin-left:0px;
    margin-top:0px;
  }
  .carousel-605 > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .carousel-605 > .iux-carousel-prev,.carousel-605 > .iux-carousel-next {
    display:none;
  }
  .review-609 {
    font-size:16px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .reviewer-612 {
    margin-left:auto;
    margin-right:auto;
    margin-top:14px;
  }
  .review-610 {
    font-size:16px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    width:256px;
  }
  .reviewer-613 {
    margin-left:auto;
    margin-right:auto;
    margin-top:14px;
  }
  .review-611 {
    font-size:16px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .reviewer-614 {
    margin-left:auto;
    margin-right:auto;
    margin-top:14px;
  }
  .image {
    display:inherit;
    height:24px;
    left:2px;
    top:480px;
    width:24px;
  }
  .image-558 {
    display:inherit;
    height:24px;
    right:2px;
    top:480px;
    width:24px;
  }
  .section-1056 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .text-511 {
    font-size:28px;
  }
  .box-1059 {
    float:none;
    height:240px;
    margin-left:0px;
    margin-top:28px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .webmovie-1061 {
    margin-left:0px;
    margin-top:0px;
  }
  .box-1058 {
    float:none;
    height:240px;
    margin-left:0px;
    margin-top:28px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .webmovie-1060 {
    margin-left:0px;
    margin-top:0px;
  }
  .section-361 {
    height:52px;
  }
  .carousel-560 {
    display:inherit;
    left:initial;
    left:auto;
    right:0px;
    top:0px;
    width:100.00%;
    width:calc(100% - 60px);
    width:-moz-calc(100% - 60px);
    width:-webkit-calc(100% - 60px);
  }
  .carousel-560 > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .carousel-560 > .iux-carousel-prev,.carousel-560 > .iux-carousel-next {
    display:none;
  }
  .cell {
    height:52px;
    left:0px;
    top:0px;
  }
  .cell > a {
    line-height:52px;
  }
  .cell-563 {
    height:52px;
    left:0px;
    top:0px;
  }
  .cell-563 > a {
    line-height:52px;
  }
  .cell-613 {
    height:52px;
    left:0px;
    top:0px;
  }
  .cell-613 > a {
    line-height:52px;
  }
  .notice_marquee {
    display:none;
    right:0px;
    top:0px;
    width:100%;
  }
  .text-399 {
    bottom:0px;
    font-size:16px;
    height:26px;
    left:10px;
    margin-bottom:auto;
    margin-top:auto;
    padding-left:10px;
    padding-right:10px;
    top:0px;
    width:30px;
  }
  .section-77 {
    padding-bottom:56px;
    padding-top:40px;
  }
  .text-524 {
    font-size:28px;
    margin-left:0px;
    margin-top:0px;
    text-align:center;
  }
  .box {
    display:none;
  }
  .box-80 {
    display:none;
  }
  .box-81 {
    display:none;
  }
  .tabview {
    display:inherit;
    float:none;
    margin-left:auto;
    margin-right:auto;
    margin-top:28px;
  }
  .tab-header {
    height:100px;
  }
  .svg-542 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .tab-header-active-item {
    display:none;
  }
  .svg-545 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .svg-543 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .tab-header-active-item-539 {
    display:none;
  }
  .svg-546 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .svg-544 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .tab-header-active-item-543 {
    display:none;
  }
  .svg-547 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .tab-content {
    border-radius:2px;
    float:none;
  }
  .tab-content-item {
    display:none;
  }
  .box-546 {
    border-color:#FA690A;
    border-radius:2px;
    border-width:1px;
    padding-bottom:16px;
    padding-left:10px;
    padding-right:10px;
    padding-top:12px;
  }
  .text-546 {
    margin-left:0px;
    margin-top:0px;
  }
  .regular_text-547 {
    margin-left:0px;
    margin-top:8px;
  }
  .box-555 {
    -webkit-transform:rotate(45deg);
    background-color:#FFFFFF;
    border-color:#FA690A;
    border-left-width:1px;
    border-top-left-radius:2px;
    border-top-width:1px;
    float:none;
    height:12px;
    left:42px;
    top:14px;
    transform:rotate(45deg);
    width:12px;
  }
  .tab-content-item-531 {
    display:none;
  }
  .box-548 {
    border-color:#FA690A;
    border-radius:2px;
    border-width:1px;
    padding-bottom:16px;
    padding-left:10px;
    padding-right:10px;
    padding-top:12px;
  }
  .regular_text-550 {
    margin-left:0px;
    margin-top:8px;
  }
  .box-556 {
    -webkit-transform:rotate(45deg);
    background-color:#FFFFFF;
    border-color:#FA690A;
    border-left-width:1px;
    border-top-left-radius:2px;
    border-top-width:1px;
    float:none;
    height:12px;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:14px;
    transform:rotate(45deg);
    width:12px;
  }
  .tab-content-item-547 {
    display:none;
  }
  .box-551 {
    border-color:#FA690A;
    border-radius:2px;
    border-width:1px;
    margin-left:0px;
    margin-top:20px;
    padding-bottom:16px;
    padding-left:10px;
    padding-right:10px;
    padding-top:12px;
  }
  .regular_text-553 {
    margin-top:8px;
  }
  .box-557 {
    -webkit-transform:rotate(45deg);
    background-color:#FFFFFF;
    border-color:#FA690A;
    border-left-width:1px;
    border-top-left-radius:2px;
    border-top-width:1px;
    height:12px;
    left:initial;
    left:auto;
    right:42px;
    top:14px;
    transform:rotate(45deg);
    width:12px;
  }
  .pg-form-362 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .pg-button {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .text-303 {
    margin-left:auto;
    margin-right:auto;
  }
  .carousel-304 > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .carousel-304 > .iux-carousel-prev,.carousel-304 > .iux-carousel-next {
    display:none;
  }
  .review {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .reviewer {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .review-309 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .reviewer-312 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .review-323 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .reviewer-324 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .review-321 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .reviewer-322 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .review-319 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .reviewer-320 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .section-35 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .text-88 {
    font-size:28px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .text-89 {
    font-size:18px;
    margin-left:auto;
    margin-right:auto;
  }
  .text-42 {
    float:none;
    margin-left:0px;
    margin-top:28px;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    width:465.00px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .box-524 {
    float:none;
    margin-left:auto;
    margin-right:initial;
    margin-right:auto;
    margin-top:28px;
  }
  .box-523 {
    float:none;
    margin-left:auto;
    margin-right:initial;
    margin-right:auto;
    margin-top:20px;
  }
  .kakaotalk_pangyo {
    right:0px;
  }
  .kakaotalk_daechi {
    right:0px;
  }
  .kakaotalk_daegu {
    right:0px;
  }
  .footer {
    height:400px;
  }
  .popup-login {
    width:300px;
  }
  .import {
    width:300px;
  }
  .popup-findpw {
    width:300px;
  }
  .import-361 {
    width:300px;
  }

}